.DS_Store
*.swp
*.bak
development/
uploads/
barcode_student/
nbproject/
vendor/


*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/

pembayaran.sql
account.txt
